<div class="form-part contacts">
    <div class="list-container">
        {{#each contacts}}
            {{>contact}}
        {{/each}}
    </div>
</div>
<div class="form-part control">
    <a href = '/add'>Add</a>
</div>
